@import "base"

.container
    display: flex
    flex-direction: column
    min-height: 100vh
    
.container-header, .container-app
    display: flex
    flex-wrap: wrap

.box, .box-header, .box-app
    width: 100%

.svg_seal
    width: $sealSize
    height: $sealSize
    path
        fill: #303030
        transition: fill 1.0s ease-out
    &:hover
        cursor: pointer
        path
            fill: #ffffff
.header    
    border-bottom: 2px solid #302b2b
.app
    flex: 1 0 auto
.footer
    flex-shrink: 0
    border-top: 2px solid #302b2b

@include respond-below(xs)
    .nav-toggle
        
    .header
    
    .seal
        margin: $sealMargin
    .svg_seal
        width: $sealSize - 20
        height: $sealSize - 20
        display: block
        margin: auto
    .title
        font-size: 10px
        text-align: center
    .nav
        height: 100%
        width: 300px
        position: absolute
        transform: translate(-300px, 0)
        transition: transform 0.3s ease
        .visible
            transform: translate(0, 0)
    .main
   
    .footer
        font-size: $footerFontSize
        text-align: center

@include respond-between(xs, sm)
    .nav_toggle

    .header

    .nav

    .main
            
    .footer
        font-size: $footerFontSize
        text-align: center

@include respond-between(sm, md)
    .nav_toggle
        
    .seal
        width: 20%
    .svg_seal
        width: $sealSize - 20
        height: $sealSize - 20
        margin: auto
    .title
        font-size: 20px
        width: 80%
        text-align: left
    .nav

    .main
            
    .footer
        font-size: $footerFontSize
        text-align: right

@include respond-between(md, lg)
    .nav_toggle

    .header

    .nav

    .main
            
    .footer
        font-size: $footerFontSize
        text-align: center

@include respond-above(lg)
    .nav_toggle

    .header

    .nav

    .main
            
    .footer
        font-size: $footerFontSize
        text-align: center
    
       

