* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(260deg, #302b2b 0%, #d1d1d1 100%);
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.box, .box-header, .box-app {
  width: 100%;
}

.nav-toggle {
  border-right: 2px solid #302b2b;
  width: auto;
}

.svg_seal {
  width: 100pt;
  height: 100pt;
}

.svg_seal path {
  fill: #303030;
  -webkit-transition: fill 1.0s ease-out;
  transition: fill 1.0s ease-out;
}

.svg_seal:hover {
  cursor: pointer;
}

.svg_seal:hover path {
  fill: #ffffff;
}

.header {
  border-bottom: 2px solid #302b2b;
}

.app {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-top: 2px solid #302b2b;
}

@media (max-width: 575px) {
  .svg_seal {
    width: 80pt;
    height: 80pt;
    display: block;
    margin: auto;
  }
  .title {
    font-size: 10px;
    text-align: center;
  }
  .nav-canvas-hidden {
    margin-left: -90%;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  .nav-canvas-visible {
    margin-left: 0;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  .main-hidden {
    display: none;
  }
  .footer {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .svg_seal {
    width: 80pt;
    height: 80pt;
    display: block;
    margin: auto;
  }
  .title {
    font-size: 10px;
    text-align: center;
  }
  .nav-canvas-hidden {
    margin-left: -90%;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  .nav-canvas-visible {
    margin-left: 0;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  .main-hidden {
    display: none;
  }
  .footer {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .svg_seal {
    width: 80pt;
    height: 80pt;
    margin: auto;
  }
  .seal {
    width: 20%;
  }
  .title {
    font-size: 20px;
    width: 80%;
    text-align: left;
  }
  .nav-canvas-hidden {
    width: 25%;
    margin-left: -22%;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  .nav-canvas-visible {
    width: 25%;
    margin-left: 0;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  .footer {
    font-size: 10px;
    text-align: right;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .svg_seal {
    width: 100pt;
    height: 100pt;
    margin: auto;
  }
  .seal {
    width: 20%;
  }
  .title {
    font-size: 20px;
    width: 80%;
    text-align: left;
  }
  .nav-canvas-hidden, .nav-canvas-visible {
    width: 150px;
    height: 100%;
    margin-left: 0;
    border-right: 2px solid #302b2b;
  }
  .nav-toggle {
    display: none;
  }
  .footer {
    font-size: 10px;
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .svg_seal {
    width: 100pt;
    height: 100pt;
    margin: auto;
  }
  .seal {
    width: 20%;
  }
  .title {
    font-size: 20px;
    width: 80%;
    text-align: left;
  }
  .nav-canvas-hidden, .nav-canvas-visible {
    width: 200px;
    margin-left: 0;
    border-right: 2px solid #302b2b;
  }
  .nav-toggle {
    display: none;
  }
  .footer {
    font-size: 10px;
    text-align: right;
  }
}
/*# sourceMappingURL=App.css.map */